body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: $default;
  background: url("../images/general/pattern.png") repeat top left;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  font-family: $CormorantInfant;
}
h1 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h2 {
  font-size: 42px;
  line-height: 42px;
  color: $default;
}

h3 {
  font-size: 18px;
  line-height: 26px;
  color: $default;
}

h4 {
  font-size: 16px;
  line-height: 28px;
  color: $default;
}

h5 {
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

h6 {
  font-size: 14px;
  line-height: 21px;
  color: $default;
}

p {
  font-size: 14px;
  line-height: 23px;
}

img {
  display: block;
  //width: 100%;
  font-size: 12px;
  line-height: 14px;
}
.slide, a{
  outline: none !important;
}
section {
  position: relative;
  padding: 40px 0;
  z-index: 1;
}

.section {
  position: relative;
  padding: 100px 0;
}

.row.min {
  margin-left: -5px;
  margin-right: -5px;
}

.row.min > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.overflow {
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

a,
button,
input,
select,
textarea,
span,
.icon {
  transition: all 150ms ease;
}
button{
  cursor: pointer;
}
.wysiwyg{
  font-size: 16px;
  line-height: 24px;
  color: $default;
  p{
    font-size: 16px;
    line-height: 24px;
    color: $default;
    margin-bottom: 16px;
  }
}
.btn{
  font-family: $PTSans;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: $white;
  background: $primary;
  border: 1px solid $primary;
  box-sizing: border-box;
  padding: 15px 20px;
  min-width: 156px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .icon{
    fill: $white;
    height: 10px;
    left: 0;
    position: relative;
    transition: all ease 300ms;
  }
  &:hover{
    color: $primary;
    background: $white;
    .icon{
      fill: $primary;
      left: 10px;
    }
  }
}
