// genearl

$white: #ffffff;
$white-100: #fffefe;
$black: #000000;
$black-100: #333;

// main

$primary: #48974c;
$default: #262626;
$gray: #595959;
$gray-100: #737373;
$gray-200: #a6a6a6;
$light: #e6e6e6;
$red: #DE3F53;

// info

$danger: #f00;
$success: #00b911;
$info: #26badf;
$warning: #fbf8db;

// shades


$light-100: #ECEAEB;
$default-100: #9A9A9A;


// mixins

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $fromColor;
  background-image: linear-gradient($direction, $fromColor, $toColor);
}

